<!-- simple-todos.html -->
<head>
	<title>Simple Narratives</title>
</head>

<body>
	<div class="container">
		<header>
			<h1>Simple Narratives</h1>
			{{> loginButtons }}
			<hr />
			<form class="new-task">
				<input type="text" name="text" placeholder="Add a new task" />
				<input type="text" name="image" placeholder="Add a new image" />
				<input type="text" name="sound" placeholder="Add a new sound" />
				<button name="submit">Submit</button>
			</form>
		</header>

		<div>
			{{#each tasks}}
			{{> task}}
			{{/each}}
		</div>
	</div>

</body>

<template name="task">
	<h2>{{text}}</h2>
	{{#if image}}
	<img class="thumbnail" src="{{image}}" />
	{{/if}}
	{{#if sound}}
	<div class="well"><audio src="{{sound}}" controls>
	<p>Your browser doesn't support audio or something.</p>
	</audio>
	</div>
	{{/if}}

	<div class="btn-group" role="group">
		<button type="button" class="add-sound btn btn-default" name="add-sound">Add Sound</button>
		<button type="button" class="add-image btn btn-default" name="add-image">Add Image</button>
	</div>

	<button type="button" class="delete btn btn-danger" name="delete">Delete</button>
	<hr />
</template>